#######################################
# Terraform
#######################################

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

#######################################
# Variable Files
#######################################

*.tfvars
*.tfvars.json

# Exception for sample files
!*.example.tfvars

#######################################
# Sensitive files
#######################################

override.tf
override.tf.json
*_override.tf
*_override.tf.json

#######################################
# VS Code
#######################################

.vscode/

#######################################
# Windows
#######################################

Thumbs.db
Desktop.ini

#######################################
# macOS
#######################################

.DS_Store